body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8129_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1855px;
  height:886px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8129_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1855px;
  height:886px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1855px;
  height:886px;
  display:flex;
}
#u8130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:324px;
}
#u8131 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:140px;
  width:742px;
  height:324px;
  display:flex;
}
#u8131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8132 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:246px;
  width:42px;
  height:21px;
  display:flex;
}
#u8132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8133 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:277px;
  width:42px;
  height:21px;
  display:flex;
}
#u8133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8134 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:314px;
  width:42px;
  height:21px;
  display:flex;
}
#u8134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8135 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:351px;
  width:42px;
  height:21px;
  display:flex;
}
#u8135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8136 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:382px;
  width:42px;
  height:21px;
  display:flex;
}
#u8136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8137 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8138 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8139 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8140 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8141 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8142 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8143 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8144 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8145 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8146 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8147 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8148 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8149 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:165px;
  width:252px;
  height:39px;
  display:flex;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:324px;
}
#u8150 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:140px;
  width:742px;
  height:324px;
  display:flex;
}
#u8150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8151 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:246px;
  width:42px;
  height:21px;
  display:flex;
}
#u8151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8152 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:277px;
  width:42px;
  height:21px;
  display:flex;
}
#u8152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8153 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:314px;
  width:42px;
  height:21px;
  display:flex;
}
#u8153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8154 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:351px;
  width:42px;
  height:21px;
  display:flex;
}
#u8154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8155 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:382px;
  width:42px;
  height:21px;
  display:flex;
}
#u8155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8156 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8157 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8158 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8159 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8160 {
  border-width:0px;
  position:absolute;
  left:1403px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8161 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8162 {
  border-width:0px;
  position:absolute;
  left:1507px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8163 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8164 {
  border-width:0px;
  position:absolute;
  left:1611px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8165 {
  border-width:0px;
  position:absolute;
  left:1663px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8166 {
  border-width:0px;
  position:absolute;
  left:1721px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8167 {
  border-width:0px;
  position:absolute;
  left:1773px;
  top:433px;
  width:42px;
  height:21px;
  display:flex;
}
#u8167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8168 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:537px;
  width:252px;
  height:39px;
  display:flex;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:324px;
}
#u8169 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:517px;
  width:742px;
  height:324px;
  display:flex;
}
#u8169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8170 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:623px;
  width:42px;
  height:21px;
  display:flex;
}
#u8170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8171 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:654px;
  width:42px;
  height:21px;
  display:flex;
}
#u8171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8172 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:691px;
  width:42px;
  height:21px;
  display:flex;
}
#u8172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:728px;
  width:42px;
  height:21px;
  display:flex;
}
#u8173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:759px;
  width:42px;
  height:21px;
  display:flex;
}
#u8174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8176 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8179 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8180 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8181 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8182 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8183 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8184 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8185 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8186 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:324px;
}
#u8187 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:517px;
  width:742px;
  height:324px;
  display:flex;
}
#u8187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8188 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:623px;
  width:42px;
  height:21px;
  display:flex;
}
#u8188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8189 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:654px;
  width:42px;
  height:21px;
  display:flex;
}
#u8189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8190 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:691px;
  width:42px;
  height:21px;
  display:flex;
}
#u8190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8191 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:728px;
  width:42px;
  height:21px;
  display:flex;
}
#u8191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8192 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:759px;
  width:42px;
  height:21px;
  display:flex;
}
#u8192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8193 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8194 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8195 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8196 {
  border-width:0px;
  position:absolute;
  left:1344px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8197 {
  border-width:0px;
  position:absolute;
  left:1403px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8198 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8199 {
  border-width:0px;
  position:absolute;
  left:1507px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8200 {
  border-width:0px;
  position:absolute;
  left:1559px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8201 {
  border-width:0px;
  position:absolute;
  left:1611px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8202 {
  border-width:0px;
  position:absolute;
  left:1663px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8203 {
  border-width:0px;
  position:absolute;
  left:1721px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8204 {
  border-width:0px;
  position:absolute;
  left:1773px;
  top:810px;
  width:42px;
  height:21px;
  display:flex;
}
#u8204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8205 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:165px;
  width:252px;
  height:39px;
  display:flex;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8206 {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:537px;
  width:252px;
  height:39px;
  display:flex;
  font-family:'华文楷体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
