body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:889px;
}
#u8262_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1858px;
  height:889px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8262_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:888px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u8263 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:0px;
  width:1870px;
  height:888px;
  display:flex;
  font-size:11px;
  color:#000000;
}
#u8263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8264 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:149px;
  width:1674px;
  height:423px;
}
#u8265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:73px;
}
#u8265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:73px;
}
#u8266 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:152px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8267 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8268 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8269 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8270 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8271 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8272 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8273 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:73px;
}
#u8274 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:0px;
  width:153px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:73px;
}
#u8275 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:0px;
  width:149px;
  height:73px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u8275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:73px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8277 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:73px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8278 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8279 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8281 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8282 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8285 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:73px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u8286 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:73px;
  width:149px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8288 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:123px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8289 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8290 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8291 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8292 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8293 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8294 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8295 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8296 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:123px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u8297 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:123px;
  width:149px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8299 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:173px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8300 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8301 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8302 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8303 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8304 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8305 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8306 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8307 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:173px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u8308 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:173px;
  width:149px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8310 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:223px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8311 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8312 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8313 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8314 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8315 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8316 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8317 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8318 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:223px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u8319 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:223px;
  width:149px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8321 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:273px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8322 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8323 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8324 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8325 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8326 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8327 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8328 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8329 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:273px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u8330 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:273px;
  width:149px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:323px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8332 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:323px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8333 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8334 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8335 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8336 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8337 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8338 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8339 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8340 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:323px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u8341 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:323px;
  width:149px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:373px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:50px;
}
#u8343 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:373px;
  width:152px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8344 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8345 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8346 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8347 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8348 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8349 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8350 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u8351 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:373px;
  width:153px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
}
#u8352 {
  border-width:0px;
  position:absolute;
  left:1525px;
  top:373px;
  width:149px;
  height:50px;
  display:flex;
  font-size:16px;
}
#u8352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1674px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u8353 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:60px;
  width:1674px;
  height:49px;
  display:flex;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u8353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:819px;
  height:68px;
}
#u8354 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:595px;
  width:819px;
  height:68px;
  display:flex;
}
#u8354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
